<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ToyRobot.Table.MinPoint.X" value="0"/>
		<add key="ToyRobot.Table.MinPoint.Y" value="0"/>
		<add key="ToyRobot.Table.MaxPoint.X" value="5"/>
		<add key="ToyRobot.Table.MaxPoint.Y" value="5"/>
		<add key="ToyRobot.WelcomeMessage" value="Welcome! Please begin with a PLACE command."/>
		<add key="ToyRobot.ErrorMessage" value="An error occurred."/>
		<add key="ToyRobot.InvalidCommand" value="Invalid command."/>
		<add key="ToyRobot.InvalidMove" value="Invalid move."/>
	</appSettings>
</configuration>